<h3>Process flow ONE!</h3>

@if(idx < processes.length){
<app-step-view
  [(count)]="idx"
  [title]="processes[idx].title"
  [description]="processes[idx].description"
  [templateToUse]="(idx === 0) ? templateOneA : (idx === 1) ? templateOneB : templateOneC"
  [templateContext]="processes[idx].templateContext"
  [componentToUse]=""
></app-step-view>
} @else {
<h3>Process flow completed!</h3>
<p>
  Go back to the
  <a routerLink="/home" (click)="processCompleted()">Home</a> page
</p>
}

<ng-template #templateOneA let-message="message">
  <div>Template for process ONE Alpha Content</div>
  <p>{{ message }}</p>
</ng-template>

<ng-template #templateOneB let-message="message">
  <div>Template for process ONE Bravo Content</div>
  <p>{{ message }}</p>
</ng-template>

<ng-template #templateOneC let-message="message">
  <div>Template for process ONE Charlie Content</div>
  <p>{{ message }}</p>
</ng-template>
